---
title: Mozza Growth Sprints
---

<div class="mainview">
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			<h1>Mobile Growth is a science</h1>
			<p>Mozza is a team of designers, growth marketers and data scientists passionate about mobile applications and Italian food. We help promising startups increase user growth exponentially, with a focus on user activation, user retention and virality.</p>
			<p>In the last 3 years, we helped 20+ startups from <span class="greylink" id="accelerators"><% link_to "#" do %>the best accelerators.<% end %></span></p>

			<div class="slideToggle" id="creds">
				<% link_to "http://www.ycombinator.com/", target: "_blank" do %>
					<%= image_tag "yc.png" %>
				<% end %>
				<% link_to "http://www.techstars.com/", target: "_blank" do %>
					<%= image_tag "techstars.png" %>
				<% end %>
				<% link_to "http://www.thefamily.co/", target: "_blank" do %>
					<%= image_tag "thefamily.png" %>
				<% end %>
				<% link_to "http://numa.co", target: "_blank" do %>
					<%= image_tag "numa.png" %>
				<% end %>
			</div>


			<p>Want to see how we could work together?</p>
			<p><%= mail_to "hello@mozza.io", "Get in touch :)" %></p>
		</div>
		<div class="col-xs-12 col-lg-8 testimonial-holder">
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-right bubblegreen slideUp">
					"If you’re building a social app, the Mozza team is the right one to accelerate your growth."
				</div>
				<div class="author author-right">
					<div class="testimonialgiver">
						<div>Rhai Goburdhun</div>
						<div class="position">CEO at Sounds (8M users)</div>
					</div>
					<div class="testimonialpic"><%= image_tag "rhai.jpg" %></div>
				</div>
			</div>
			<!-- End of estimonial -->
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-left bubblegrey">
					"Regarding growth strategies of mobile apps, I think Adrien is among the best experts in Europe."
				</div>
				<div class="author author-left">
					<div class="testimonialpic"><%= image_tag "alexandre.jpg" %></div>
					<div class="testimonialgiver">
						<div>Alexandre Jubien</div>
						<div class="position">ex Head of mobile at Deezer</div>
					</div>
				</div>
			<!-- End of estimonial -->
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-right bubblegreen">
					"Pretty impressed by Maxime’s ability to form a relevant product strategy out of some intuitions we had!"
				</div>
				<div class="author author-right">
					<div class="testimonialgiver">
						<div>Antoine Martin</div>
						<div class="position">CEO Zenly (acquired by Snapchat)</div>
					</div>
					<div class="testimonialpic"><%= image_tag "antoine.jpg" %></div>
				</div>
			</div>
			<!-- End of estimonial -->
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-left bubblegrey slideUp">
					"Mozza helps startups create kick-ass products and they do it right!"
				</div>
				<div class="author author-left">
					<div class="testimonialpic"><%= image_tag "hamza.jpg" %></div>
					<div class="testimonialgiver">
						<div>Hamza Ouazzani Chahdi</div>
						<div class="position">CEO at Spot Angels (YC)</div>
					</div>
				</div>
			</div>
			<!-- End of estimonial -->
				
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-right bubblegreen">
					"Adrien and Maxime form the best Growth/Product duo I ever worked with."
				</div>
				<div class="author author-right">
				<div class="testimonialgiver">
					<div>Kevin Kuipers</div>
					<div class="position">Founder Molotov.tv (1M users)</div>
				</div>
				<div class="testimonialpic"><%= image_tag "kevin.jpg" %></div>
			</div>
			<!-- End of estimonial -->
				
			<!-- Testimonial -->
			<div class="testimonial">
				<div class="bubble bubble-left bubblegrey">
					"Adrien did a great job reviewing our product & growth strategy. I highly recommend him."
				</div>
				<div class="author author-left">
					<div class="testimonialpic"><%= image_tag "paul.jpg" %></div>
					<div class="testimonialgiver">
						<div>Paul Duan</div>
						<div class="position">President at Bayes Impact (YC)</div>
					</div>
			</div>
			<!-- End of estimonial -->
			<p class="greylink" id="founded">Founded by <% link_to "https://twitter.com/mxbraud", target: "_blank" do %>mxbraud<% end %> & <% link_to "https://twitter.com/adrienm", target: "_blank" do %>adrienm<% end %></p>
		</div>
	</div>
</div>
