---
title: Hire Mozza for a product mission!
---

<canvas id="particles"></canvas>
<div class="mainview">
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			<h1>Virality is a science</h1>
			<p>Mozza is a team of designers, data scientists and growth marketers passionate about mobile virality. We help promising apps increase user growth exponentially. We combine data science with the best UX/UI design talent to help you understand your viral flows, leverage their full potential and eventually build a product as fresh as our mozzarella.</p>
			<p>In the last 5 years, we have worked for 20+ startups, from the best accelerators.</p>

			<div id="creds">
				<% link_to "http://www.ycombinator.com/", target: "_blank" do %>
					<%= image_tag "yc.png" %>
				<% end %>
				<% link_to "http://www.techstars.com/", target: "_blank" do %>
					<%= image_tag "techstars.png" %>
				<% end %>
				<% link_to "http://www.thefamily.co/", target: "_blank" do %>
					<%= image_tag "thefamily.png" %>
				<% end %>
				<% link_to "http://numa.co", target: "_blank" do %>
					<%= image_tag "numa.png" %>
				<% end %>
			</div>


			<p>Need some advice? <%= mail_to "hello@mozza.io", "Get in touch" %> :)</p>
			<p>Founded by <% link_to "https://twitter.com/mxbraud", target: "_blank" do %>mxbraud<% end %> & <% link_to "https://twitter.com/adrienm", target: "_blank" do %>adrienm<% end %></p>
		</div>
	</div>
</div>
