<!-- <canvas id="particles"></canvas> -->
<div class="mainview">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="headline">Make the right app</h1>
    </div>
    <div class="col-xs-12">
      <h1>Mobile UX & Growth</h1>
      <p id="explanation"> Mozza is a duo formed by a product designer, <% link_to "https://www.linkedin.com/in/maximebraud/", target: "_blank" do %>Maxime Braud<% end %>, and a growth marketer, <% link_to "https://www.linkedin.com/in/adrienmontcoudiol/", target: "_blank" do %>Adrien Montcoudiol<% end %>. We have been passionate about mobile applications and Italian food for a while. In 2016, we started Mozza to help promising startups improve their application and grow faster - from San Francisco to Paris.</p>
    </div>
  </div>
    <div class="row">
      <h1>Our services</h1>
      <div class="col-xs-12 col-md-3 service">
        <div class="servicetitle">Product & Growth Strategy</div>
        <div class="servicedelivery">
          <p><i class="fas fa-check"></i>Product & marketing analysis: review of screens, usability tests & metrics</p>
          <p><i class="fas fa-check"></i>Recommendations on user experience</p>
          <p><i class="fas fa-check"></i>Recommendations on growth marketing strategy</p>
        </div>
        <div class="serviceprice">
          <% link_to "mailto:hello@mozza.io?subject=Product Growth Strategy" do %><div id="price">Start Now - 2900€</div><% end %>
          <p id="satisfied">Satisfied or money back</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 service">
        <div class="servicetitle">Product & Growth Strategy</div>
        <div class="servicedescription">Increase acquisition, retention and virality</div>
        <div class="servicedelivery">
          <p><i class="fas fa-check"></i>Product & marketing analysis: review of screens, usability tests & metrics</p>
          <p><i class="fas fa-check"></i>Recommendations on user experience</p>
          <p><i class="fas fa-check"></i>Recommendations on growth marketing strategy</p>
        </div>
        <div class="serviceprice">
          <p id="price">Contact us - 2900 euros</p>
          <p id="satisfied">Satisfied or money back</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 service">
        <div class="servicetitle">Product & Growth Strategy</div>
        <div class="servicedescription">Increase acquisition, retention and virality</div>
        <div class="servicedelivery">
          <p><i class="fas fa-check"></i>Product & marketing analysis: review of screens, usability tests & metrics</p>
          <p><i class="fas fa-check"></i>Recommendations on user experience</p>
          <p><i class="fas fa-check"></i>Recommendations on growth marketing strategy</p>
        </div>
        <div class="serviceprice">
          <p id="price">2900 euros</p>
          <p id="satisfied">Satisfied or money back</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <h1>We have worked with</h1>
      <p> C'est la</p>
    </div>
    <div class="col-xs-12">
      <h1>What they say about us</h1>
      <div class="testimonial-holder">
        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-right bubblegreen slideUp">
            "The Mozza team is the right one to help you boost your growth."
          </div>
          <div class="author author-right">
            <div class="testimonialgiver">
              <div>Rhai Goburdhun</div>
              <div class="position">CEO at Sounds (8M users)</div>
            </div>
            <div class="testimonialpic"><%= image_tag "rhai.jpg" %></div>
          </div>
        </div>
        <!-- End of estimonial -->
        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-left bubblegrey">
            "Regarding growth strategies of mobile apps, I think Adrien is among the best experts in Europe."
          </div>
          <div class="author author-left">
            <div class="testimonialpic"><%= image_tag "alexandre.jpg" %></div>
            <div class="testimonialgiver">
              <div>Alexandre Jubien</div>
              <div class="position">ex Head of mobile at Deezer</div>
            </div>
          </div>
        </div>
        <!-- End of estimonial -->
        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-right bubblegreen">
            "Pretty impressed by Maxime’s ability to form a relevant product strategy out of some intuitions we had!"
          </div>
          <div class="author author-right">
            <div class="testimonialgiver">
              <div>Antoine Martin</div>
              <div class="position">CEO Zenly (acquired by Snapchat)</div>
            </div>
            <div class="testimonialpic"><%= image_tag "antoine.jpg" %></div>
          </div>
        </div>
        <!-- End of estimonial -->
        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-left bubblegrey slideUp">
            "Mozza helps startups create kick-ass products and they do it right!"
          </div>
          <div class="author author-left">
            <div class="testimonialpic"><%= image_tag "hamza.jpg" %></div>
            <div class="testimonialgiver">
              <div>Hamza Ouazzani Chahdi</div>
              <div class="position">CEO at Spot Angels (YC)</div>
            </div>
          </div>
        </div>
        <!-- End of estimonial -->

        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-right bubblegreen">
            "Adrien and Maxime form a growth/design duo of rare quality. I'd recommend them to any mobile startup willing to improve their product."
          </div>
          <div class="author author-right">
          <div class="testimonialgiver">
            <div>Kevin Kuipers</div>
            <div class="position">Cofounder & Head of Product at Molotov.tv (3M users)</div>
          </div>
          <div class="testimonialpic"><%= image_tag "kevin.jpg" %></div>
          </div>
        </div>
        <!-- End of estimonial -->

        <!-- Testimonial -->
        <div class="testimonial">
          <div class="bubble bubble-left bubblegrey">
            "Adrien did a great job helping us define our product & growth strategy. Highly recommended!"
          </div>
          <div class="author author-left">
            <div class="testimonialpic"><%= image_tag "paul.jpg" %></div>
            <div class="testimonialgiver">
              <div>Paul Duan</div>
              <div class="position">President at Bayes Impact (YC)</div>
            </div>
          </div>
        </div>
        <!-- End of estimonial -->
      </div>
    </div>
  <div class="row allsquares">
    <div class="col-xs-12">
      <div class="recipes">
         <h1 id="recipes-title">Mobile Growth recipes</h1>
            <% data.slides.each do |slide| %>
              <% link_to slide.url, target: "_blank" do %>
                <div class="square" style="background-image: url(images/slides/<%= slide.name %>.png)"></div>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    <div class="col-xs-12">
      <h1>Join the community</h1>
      <p> C'est la</p>
    </div>

</div>
